{{! handlebars for Password Reset- template! }}

<html>
	<head>
		<style>
		</style>
	</head>
	<body>
		<p>Hello {{name}},</p>
		<p>Your password on your Zollege Quizlet account has been changed
			successfully!</p>
	</body>
</html>